/* universal styles */
* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}
.hide{
    display: none;
}
.text-primary {
    color: #FD6E0A;
}

/* navbar style */
nav {

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
}

.nav-title {
    color: #181818;
    font-size: 45px;
    font-weight: 800;

}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 50px;


}

nav a {
    text-decoration: none;
    color: rgb(83, 74, 74);
}

.btn {
    background: #FD6E0A;
    border-radius: 5px;
    border: none;
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 10px 30px;
}

.btn1 {
    background-color: #FFF8F3;
    color: #FD6E0A;
    border: 2px solid #FD6E0A;
    margin-left: 18px;
}

/* header related style */

.header {
    background-color: #FFF8F3;
    background-image: url(../images/header_bg.png), url('../images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right, bottom left;
}

.banner {
    display: flex;
    padding: 30px 30px 0px 150px;
    align-items: center;
    justify-content: space-between;
}

.banner-text {
    max-width: 500px;
}

.banner-pic {
    width: 500px
   
}

.banner-greeting {
    font-size: 3rem;
    color: #474747;
    margin-bottom: 0;

}

.banner-titel {
    font-size: 3rem;
    font-weight: 700;
    margin-top: 5PX;
    margin-bottom: 10px;

}

.banner-description {
    font-size: 1.4rem;
    padding-bottom: 10px;
}

/* main section */
main {
    max-width: 1140px;
    margin: 0 auto;
}

main section {
    margin-top: 130px;
}

/* section */
.about {
    
    border-radius: 10px;
    background: #fcede2;
    padding: 100px 130px;

}
.about-body{
    padding: 20px;
}

.section-title {
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}

.about-desc {
    color: #757575;
    text-align: center;
    font-size: 18px;
}

.about-info-container {
    display: flex;
    justify-content: center;

}

.about-info {
    color: #757575;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    justify-content: space-between;
    margin-right: 25px;
   

}

.info-description {
    font-size: 15px;
    margin-top: 0;
    color: #474747;
}

.info-titel {
    margin-bottom: 0px;
}

.experience {}

.experience h3 {
    margin-top: 130px;
}

.experience p {
    padding: 30px 150px;
}

/* skills section*/

.skill-container {
    display: flex;
    gap: 24px;
}

.skill {
    padding: 35px;
    border-radius: 5px;
    background: #f9f5f5;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}

/* resume */
.resume-contrainer {
    display: flex;
    gap: 70px;
}

.column-titel {
    color: #474747;
    font-size: 30px;
    font-weight: 700;
}

.resume-item-titel {
    color: #474747;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 10px;
    margin-top: 10px;
}

.resume-institute {
    color: #757575;
    font-size: 16px;

}

.resume-description {
    color: #757575;
    font-size: 20px;

}

hr {
    width: 558px;
    height: 1px;
    background: #D1D1D1;
}

.div-btn {
    text-align: center;
    padding: 50px 0 100px;
}

footer {
    background: #FFF8F3;
    display: flex;
    gap: 110px;
    
}

.footer-column1 {
    width: 50%;
    padding: 130px 0 0 200px;
}
.footer-column2 {
    width: 50%;
    padding: 130px 200px 100px 0;
}

.footer-form {
    color: #757575;
    font-size: 16px;
    display: block;
    

}

.social-icon{
    margin-right: 25px;
}

.footer-form input[type=text], input[type=email], textarea {
    width: 100%;
    padding: 18px 0 18px 30px;
    margin: 8px 0;
    display: inline-block;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;

}

/* responsive design */
